* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right, #1f4037, #99f2c8);
    background-repeat: no-repeat;
    background-repeat:repeat-y;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
}

.container {
    background-color: #f1f1f1;
    padding: 40px;
    width: 40%;
    margin-left:520px;
    margin-top: 180px;
}

#message {
    display: none;
    background-color: #f1f1f1;
    color: #000;
    position: relative;
    padding: 40px;
    margin-top: 10px;
    width: 40%;
    margin-left: 520px;
}

#message p {
    padding: 10px;
    font-size: 1.1rem;
}

.valid {
    color: green;
}

.valid::before {
    position: relative;
    left: -15px;
    content: "✔️";
}

.invalid {
    color: red;
}

.invalid::before {
    position: relative;
    left: -15px;
    content: "❌";
}